<%= form_with model: profile do |form| %>
  <%= form_error_notification(profile) %>

  <%= form.label :name, "Name" %>
  <%= form.text_field :name, placeholder: "Jane Doe" %>

  <%= form.label :location, "Location" %>
  <%= form.text_field :location, placeholder: "London, UK" %>

  <%= form.label :birthday, "Birthday" %>
  <%= form.date_field :birthday %>

  <%= form.label :picture, "Change your profile picture *" %>
  <%= form.file_field :picture %>
  <p>* Picture must be in a square format or else it will be cropped</p>
  
  <%= form.submit "Save" %>

  <%= link_to "Back to my page", user_path(current_user) %>
<% end %>
