<h1>Editing Profile</h1>

<div class="profile-form">
  <%= form_with model: @profile do |form| %>
    <%= form.label :name, 'Name' %>
    <%= form.text_field :name, placeholder: 'Jane Doe' %>
  
    <%= form.label :location, 'Location' %>
    <%= form.text_field :location, placeholder: 'London, UK' %>

    <%= form.label :birthday, 'Birthday' %>
    <%= form.date_field :birthday %>

   <%= form.submit 'Save' %>

    <% if @profile.errors.any? %>
      <% @profile.errors.full_messages.each do |message| %>
        <div class='error-msg'><%= message %></div>
      <% end %>
    <% end %>
  <% end %>

  <%= link_to 'Back to my page', user_path(current_user) %>
</div>