<main class="container">
  <div class="header">
    <h1>Resend confirmation instructions</h1>
  </div>
  
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, data: { turbo: false } }) do |f| %>
    <%= form_error_notification(resource) %>
  
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>
  
    <div class="actions">
      <%= f.submit "Resend confirmation instructions", class: "btn btn--primary" %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</main>
