<div class="user-show">
  <div class="sidebar">
    <div class="profile">
      <h2><%= @profile.name %></h2>
      <p>Location: <%= @profile.location %></p>
      <p>Birthday: <%= @profile.formatted_birthday %></p>
    </div>
    <div class="friends">
      Placeholder for friends list.
    </div>
   <%= link_to 'Edit my profile', edit_profile_path(current_user.profile.id) %>
  </div>
  <div class="content">
    <%= turbo_frame_tag id='new_post', src: new_post_path %>
    <div id='posts'>
      <%= render @posts %>
    </div>
  </div>
</div>