<div class="user-show">
  <div class="sidebar">
    <div class="profile">
      <%= image_tag @profile.picture_attachment_path %>
      <h2><%= @profile.name %></h2>
      <p>Location: <%= @profile.location %></p>
      <p>Birthday: <%= @profile.formatted_birthday %></p>
    </div>

    <% if current_user == @user || current_user.friends.include?(@user) %>
      <div class="friends">
        <h4>Friends</h4>
        <% @user.friends.each do |friend| %>
          <%= image_tag friend.profile.picture_attachment_path %>
        <% end %>
      </div>
    <% end %>

    <% if current_user == @user %>
      <%= link_to "Edit my profile", edit_profile_path(current_user.profile.id) %>
    <% end %>
  </div>
  
  <div class="content">
    <% if current_user == @user %>
      <%= turbo_frame_tag id="new_post", src: new_post_path %>
      <div id="posts">
        <%= render @posts %>
      </div>
    <% elsif current_user.friends.include?(@user) %>
      <div id="posts">
        <%= render @posts %>
      </div>
    <% else %>
      <p>Only <%= @profile.name %>'s friends can see their posts.</p>
    <% end %>
   </div>
</div>