<div class="post-form">
  <%= form_with model: @post do |form| %>
    <%= form.label :content, 'Content', class: 'hidden' %>
    <%= form.text_area :content %>
    <%= form.submit "Post"%>
  <% end %>
  
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |message| %>
      <div class='error-msg'><%= message %></div>
    <% end %>
  <% end %>
</div>