<!DOCTYPE html>
<html>
  <head>
    <title>Odinbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <h1><%= link_to 'OdinBook', root_path %></h1>
      <% if current_user %>
        <div class="nav-links">
          <%= link_to 'Find New Friends', users_path %>
          <%= link_to current_user.profile.name, user_path(current_user.id) %>
          <p>Notifications placeholder</p>
          <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
        </div>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
